.section-title {
  white-space: nowrap;

  &__label {
    @include cssLock(
      "margin-bottom",
      360,
      1366,
      (($gutter_num), ($gutter_num * 1.5))
    );

    display: block;
    text-transform: uppercase;
    font-weight: 800;

    &--special {
      color: color(primary);
    }
  }
}
